services:
  # --------------------
  # 1. Reverse Proxy / Web Server
  # --------------------
  angie:
    profiles: [ "angie" ]
    image: docker.angie.software/angie:templated
    container_name: elkk_angie_proxy
    volumes:
      - ./config/angie/${APP_ENV}:/etc/angie/:ro
    restart: unless-stopped
    ports:
      - "80:80"   # HTTP
      - "443:443"  # HTTPS/HTTP3
    depends_on:
      frankenphp:
        condition: service_healthy
      mercure:
        condition: service_healthy
    networks:
      - elkk-network
    environment:
      - APP_ENV=${APP_ENV}
      - APP_DOMAIN=${APP_DOMAIN}

  # --------------------
  # 2. PHP Приложение на Symfony с FrankenPHP
  # --------------------
  frankenphp:
    build:
      context: ./app  # Строит из app/ (код Symfony)
      dockerfile: ./config/frankenphp/${APP_ENV}/Dockerfile  # Dockerfile из корня
    container_name: elkk_frankenphp
    volumes:
      - ./app:/app
      - caddy_config:/etc/caddy
      - ./config/frankenphp/${APP_ENV}/php.ini:/usr/local/etc/php/conf.d/extra.ini:ro
      - ./config/frankenphp/${APP_ENV}/Caddyfile:/etc/frankenphp/Caddyfile:ro
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
      mercure:
        condition: service_healthy # Mercure нужен в обоих режимах
    networks:
      - elkk-network
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "wget", "-q", "-O", "/dev/null", "http://localhost:2015/healthz" ]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 60s
  # --------------------
  # 3. Redis Cache/Queue
  # --------------------
  redis:
    image: redis:8.2.3-alpine
    container_name: elkk_redis
    volumes:
      - redis_data:/data
    networks:
      - elkk-network
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      timeout: 5s
      retries: 5
      start_period: 60s
  # --------------------
  # 4. Mercure
  # --------------------
  mercure:
    image: dunglas/mercure:latest
    container_name: elkk_mercure
    environment:
      - CORS_ORIGINS=*
      # 1. КЛЮЧИ: Должны совпадать с теми, что в сервисе 'app'
      - MERCURE_PUBLISHER_JWT_KEY=${MERCURE_PUBLISHER_JWT_KEY}
      - MERCURE_SUBSCRIBER_JWT_KEY=${MERCURE_SUBSCRIBER_JWT_KEY}
      - MERCURE_ALLOWED_ORIGINS=*
    expose:
      - 80
    depends_on:
      - redis
    healthcheck:
      # Проверяем доступность хаба по внутреннему HTTP-порту (80)
      test: [ "CMD", "wget", "-q", "-O", "/dev/null", "http://localhost:80/healthz" ]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 30s
  postgres:
    image: postgres:16-alpine
    container_name: elkk_postgres
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_READ_DB=${POSTGRES_READ_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - ./config/postgres/${APP_ENV}/postgresql.conf:/etc/postgresql/postgresql.conf
      - ./config/postgres/${APP_ENV}/entrypoint.sh:/docker-entrypoint-initdb.d/20-entrypoint.sh
      #      - ./data/postgres:/var/lib/postgresql
      - postgres_data:/var/lib/postgresql/data
      - ./logs/postgres:/var/log/postgresql
    ports:
      - "5432:5432"
    networks:
      - elkk-network
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "pg_isready", "-d", "${POSTGRES_DB}", "-U", "${POSTGRES_USER}" ]
      timeout: 5s
      retries: 5
      start_period: 60s

# --------------------
# Сети и Тома
# --------------------
networks:
  elkk-network:
    name: elkk
    driver: bridge

volumes:
  redis_data:
  caddy_config:
  postgres_data: